VITE_SUPABASE_URL=https://hdvbiwetvpcptypiizuk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhkdmJpd2V0dnBjcHR5cGlpenVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxNjE3ODIsImV4cCI6MjA5MTczNzc4Mn0.2vo55mPo8d6GtvABUltJNhBruqLZMAptwxZVbnmnNk8